body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    font-size: 500%;
    
}
p{
    color: white;
}
form{
    color: white;
    text-align: center;
    font-size: 200%;

}
input{
    width: 30%;
    
}
input[type = "submit"]{
    width: 7%;
    height: 7%;
}